body{
    background-color: #f9f7fe;
    font-family:"Roboto", sans-serif;
}
.bosa-app{
    background:white;
    max-width:700px;
    margin:45px auto;
    padding:45px;
    box-shadow:0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius:16px;
}
.search-form-input{
    background-color:#f9f7fe;
    border:none;
    border-radius:6px;
    width:80%;
    padding:15px 20px;
    font-size:16px;
}
.search-form-button{
    background:rgb(94, 52, 233);
    padding:15px 20px;
    border:none;
    border-radius:6px;
    color:white;
    margin-left:5px;
    font-size:16px;
}
header{
    border-bottom:1px solid #f9f7fe;
    padding:0 0 30px 0;
}
footer{
    border-top:1px solid #f9f7fe;
    padding:15px 20px;
    text-align:center;
    font-size:13px;
    color:rgba(0, 0, 0, 0.6);
}
a{
   color:rgb(94, 52, 233); 
}
.bosa-app-data{
    display:flex;
    justify-content:space-between;

}
main{
    padding:30px 0;
}
.bosa-app-city{
    margin:0;
    font-size:38px;
    line-height:48px;
}
.bosa-app-details strong{
    color:rgb(237, 83, 216);
}
.bosa-app-details{
    line-height: 24px;
    font-size:16px;
    color: rgba(39, 33, 66, 0.7);
    font-weight:500;
}
.bosa-app-temperature-container{
    display: flex;
}
.bosa-app-temperature-value{
    font-size:80px;
    font-weight:bold;
    margin-left:10px;
}
.bosa-app-icon{
    font-size:40px;
    margin-top:22px;
}
.bosa-app-unit{
    margin-top:16px;
    font-size:28px;
}