body{
    background-color: #f9f7fe;
    font-family:"Roboto", sans-serif;
}
.bosa-app{
    background:white;
    max-width:700px;
    margin:45px auto;
    padding:45px;
    box-shadow:0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius:16px;
}